
<br>
<div class="intro">
  <h1>Search {{hero.subject}}</h1>
  <label for="subject">Subject: </label><br>
  <input type="text" id="subject" [(ngModel)]="subject" placeholder="Ex: ECE"><br>
  <label for="cCode">Course Code: </label><br>
  <input type="text" id="catalog" [(ngModel)]="course" placeholder="Ex: 1021B"><br>
  <label for="component">Course Component: </label><br>
  <input type="text" id="type" [(ngModel)]="component" placeholder="Ex: LEC"><br>
  <label for="keywords">Keywords: </label><br>
  <input type="text" id="keyword" [(ngModel)]="keywords" placeholder="Ex: ACTU for ACTURSCI"><br><br>
  <button id="but" class="button" (click)="findCourse(subject,course,component,keywords)"> Search</button><button id="allCourses" class="button" (click)="search()"> All Courses</button><button onClick="window.location.reload();">Reload Page</button>

  <ul class="courses" >
    <li *ngFor="let course of courses;  let i=index">
      <span class="badge"> {{course.subject}} {{course.courseNum}}--{{course.description}}</span><br>Days: {{course.days}} 
      Start Time: {{course.startTime}} End Time: {{course.endTime}} Component: {{course.courseComp}} Section: {{course.section}} --- {{course.yearTaken}}<!--<button (click)="add(courses[i])">Add to Schedule</button>-->
    </li>
  </ul>
  <ol id="courseList"> </ol>
</div>
<br>
<div class="public">
  <h1>Public Schedules</h1>
  <button (click)="getSchedules()">Show Schedules</button>
  <ul id="all"> 
    <li *ngFor="let ls of final; let i=index">
      <span class="badge"> {{ls.Username}}'s {{ls.ScheduleName}} Schedule -- Contains {{ls.NumberCourses}} Course(s). Created: {{ls.Date}}</span><button (click)="review(final[i],i)">Show Courses</button>
      <ul *ngIf="ls.ScheduleName == findSchedule">
        <li *ngFor="let sched of schedule">
          <span  class="badge"> {{sched.subject}} {{sched.courseNum}}--{{sched.description}}</span><br>Days: {{sched.days}} 
          Start Time: {{sched.startTime}} End Time: {{sched.endTime}} Component: {{sched.courseComp}} Section: {{sched.section}} --- {{sched.yearTaken}}
        </li>
      </ul>
    </li>
  </ul>
</div>

