
/* HeroesComponent's private CSS styles */
.heroes {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
  .heroes li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  }
  .heroes li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .heroes li.selected {
    background-color: #CFD8DC;
    color: white;
  }
  .heroes li.selected:hover {
    background-color: #069db1;
    color: white;
  }
  .heroes .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#405061;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
  li{
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #000000;
    list-style-type: none;
    width: 60%;
    background-color: #7FFFD4;
    
  }
  .intro{
    border: 5px outset red;
    background-color: lightblue;    
    text-align: left;
    padding: 12px 20px;
  }
  .schedule{
    border: 5px outset rgb(0, 81, 255);
    background-color: rgb(204, 173, 230);    
    text-align: left;
    padding: 12px 20px;
  }
  .users{
    border: 5px outset rgb(2, 0, 136);
    background-color: rgb(204, 153, 86);    
    text-align: left;
    padding: 12px 20px;
  }
  