<h1>Admin page for {{showUser}}</h1>
  <div class="intro">
    <h1>Search {{hero.subject}}</h1>
    <label for="subject">Subject: </label><br>
    <input type="text" id="subject" [(ngModel)]="subject" placeholder="Ex: ECE"><br>
    <label for="cCode">Course Code: </label><br>
    <input type="text" id="catalog" [(ngModel)]="course" placeholder="Ex: 1021B"><br>
    <label for="component">Course Component: </label><br>
    <input type="text" id="type" [(ngModel)]="component" placeholder="Ex: LEC"><br>
    <label for="keywords">Keywords: </label><br>
    <input type="text" id="keyword" [(ngModel)]="keywords" placeholder="Ex: ACTU for ACTURSCI"><br><br>
    <button id="but" class="button" (click)="findCourse(subject,course,component,keywords)"> Search</button><button id="allCourses" class="button" (click)="search()"> All Courses</button><button onClick="window.location.reload();">Reload Page</button>
  
    <ul class="courses">
      <li *ngFor="let course of courses;  let i=index">
        <span class="badge"> {{course.subject}} {{course.courseNum}}--{{course.description}}</span><br>Days: {{course.days}} 
        Start Time: {{course.startTime}} End Time: {{course.endTime}} Component: {{course.courseComp}} Section: {{course.section}}  --- {{course.yearTaken}}<button (click)="add(courses[i])">Add to Schedule</button><button (click)="viewReviews(course.subject,course.courseNum,course.courseComp)">User Review's</button><button (click)="addReview(i)">Add Review</button>
        <ul *ngFor="let rev of reviews; let i=index;">
          <li *ngIf="(course.subject == rev.Subject) && (course.courseNum == rev.Course) && (course.courseComp == rev.Component)">
              <h3 style='display:inline'>{{rev.Username}}'s Review: </h3> <p style='display:inline'>{{rev.uReview}}</p><button *ngIf="rev.hideReview==0"  title="Mark Innapropriate" (click)="hideReview(i,false)">Flag</button><button *ngIf="rev.hideReview==1"  title="Mark Safe" (click)="hideReview(i,true)">UnFlag</button>
          </li>
        </ul>
        <ul >
          <li *ngIf="(course.subject == findSubject) && (course.courseNum == findCourseNum) && (course.courseComp == findComp)">
            <textarea [(ngModel)]="userReview" placeholder="Max 255 Characters" rows="6" cols="70"></textarea><button (click)="submitReview(userReview,course.subject,course.courseNum,course.courseComp)">Submit</button>
          </li> 
        </ul>
      </li>
    </ul>
    <ol id="courseList"> </ol>
  </div>
  <br>
  <div class="schedule">
    <h1>Schedule</h1><p id="warning">A schedule requires a name and at least 1 class</p>
    <label for="sName">Schedule Name: </label><br>
    <input type="text"  [(ngModel)]="scheduleName" id="schedule" placeholder="Ex: FallSchedule"> <button id="search" (click)="searchDB(scheduleName)"> Search</button>
    <button id="deleteALL" (click)="deleteAll()" > Delete ALL Schedules</button>
    <ul id="sch"> 
        {{displaySch}}
      <li *ngFor="let sched of schedule">
        <span class="badge"> {{sched.subject}} {{sched.courseNum}}--{{sched.description}}</span><br>Days: {{sched.days}} 
        Start Time: {{sched.startTime}} End Time: {{sched.endTime}} Component: {{sched.courseComp}} Section: {{sched.section}} --- {{sched.yearTaken}}<button (click)="removeCourse(i)">Remove from Schedule</button>
      </li>
    </ul>
    <button id="toDatabase" (click)="saveSchedule(scheduleName)"> Save Schedule</button> Make Public:<input type="checkbox" (click)="change()"> <button (click)=" getSchedules()" id="show" >All Schedules</button>
    <ul id="all"> 
        <li *ngFor="let ls of final; let i=index">
          <span class="badge"> {{ls.Username}}'s {{ls.ScheduleName}} Schedule -- Contains {{ls.NumberCourses}} Course(s)</span><button (click)="review(final[i],i)">Edit Schedule</button> <button id="delete" (click)="deleteSch(ls.ScheduleName)"> Delete</button>
        </li>
      </ul>
  </div>
  <br>
  <div class="users">
    <h1>User Information</h1>
      <button (click)="getUsers()">Retrieve Data</button>
    <ul id="userList"> 
        <li *ngFor="let user of users; let i=index">
          <h3 style='display:inline'>Username: </h3> <p style='display:inline'>{{user.Username}}</p><h3 style='display:inline'> Email: </h3> <p style='display:inline'>{{user.Email}}</p>
          <h3 style='display:inline'> Admin User: </h3> <p *ngIf="user.isAdmin == 0" style='display:inline'>No </p><p *ngIf="user.isAdmin == 1" style='display:inline'>Yes </p><br>
          <button (click)="findComments(i)">User Comments</button><button *ngIf="user.isAdmin == 0" (click)="makeAdmin(i,true)">Make Admin</button><button *ngIf="user.isAdmin == 1" (click)="makeAdmin(i,false)">Remove Admin</button>
          <button *ngIf="user.activeUser == 1" (click)="deactivateAccount(i,false)">Deactivate User</button><button *ngIf="user.activeUser == 0" (click)="deactivateAccount(i,true)">Activate User</button>
          <ul *ngFor="let rev of reviews;  let i=index;">
            <li *ngIf="(user.Username == rev.Username) && (user.Email == rev.Email)">
                <h3 style='display:inline'>{{rev.Username}}'s Review: </h3> <p style='display:inline'>{{rev.uReview}}</p><button *ngIf="rev.hideReview==0"  title="Mark Innapropriate" (click)="hideReview(i,false)">Flag</button><button *ngIf="rev.hideReview==1"  title="Mark Safe" (click)="hideReview(i,true)">UnFlag</button>
            </li>
            <li *ngIf="(course.subject == findSubject) && (course.courseNum == findCourseNum) && (course.courseComp == findComp)">
                <textarea [(ngModel)]="userReview" placeholder="Max 255 Characters" rows="6" cols="70"></textarea><button (click)="submitReview(userReview,course.subject,course.courseNum,course.courseComp)">Submit</button>
            </li> 
        </ul>
        </li>
      </ul>
  </div>
