    <h1>Western Course and Schedule Maker</h1>
    <p>This is a schedule maker, log in using the login button. Have so much fun! </p>
    <nav class="nav nav-pills">
      <a class="nav-link" routerLink="registerUser" routerLinkActive="active" *ngIf="!auth.loggedIn">Register</a>
      <a class="nav-link" routerLink="login" routerLinkActive="active" *ngIf="!auth.loggedIn">Login</a>
      <a class="nav-link" (click)="logout()" href="#" *ngIf="auth.loggedIn">Logout</a>
    </nav>
    <router-outlet></router-outlet>

