
<br>
<h4 style='display:inline' *ngIf="error">{{error}}</h4><button style='display:inline' *ngIf="resend==true" (click)="resendEmail()">resend</button>
<form (submit)="submit()">
  <div class="container">
    <label for="email">Email:</label>
    <input type="text" name="email" class="form-control" [(ngModel)]="email"/>
  </div>
  <div class="container">
    <label for="password">Password:</label>
    <input type="password" name="password" class="form-control" [(ngModel)]="password" />
  </div>
  <div class="container">
    <button class="btn btn-primary" type="submit">Login</button>
  </div>
</form>
<button class="btn btn-primary" style='display:inline' #loginRef>
  Login with Google
</button>
<br>
<app-heros></app-heros>


